#header
	debug()
	col(12/12)
	padding 30px 10px
	.logo
		col(4/12)
		img
			width 100%
	.menu
		col(7/12, offset: 1/12)
		.social
			col(2/12, offset: 10/12)
			ul
				li
					text-align center !important
					span(6/12)
		nav
			col(12/12)
			ul
				li
					span(1/5)
					text-align center
