#menu
	+mobile()
		display none
	margin-top 20px
	ul
		li
			col(1/4)
			img
				width 100%
			h2
				background #57b1a8
				color #FFF
				text-transform uppercase
				letter_spacing()
				font-size 12px
				text-align center
				padding 3px 0
				margin-bottom 10px
			p
				letter_spacing()
				color #000
				font-style italic
				font-size 10px
				text-align center
				line-height 15px
				margin-top 5px
