.container
	.row
		#footer
			.footer-content
				p [ digite seu email para receber novidades ]
				form
					input(type="text")
					button Enviar
	.row
		#footer-social
			ul
				li
					a(href="", class="ico ico-facebook") Facebook
				li
					a(href="", class="ico ico-instagram") Instagram
				li
					a(href="", class="ico ico-youtube") Youtube
				li
					a(href="", class="ico ico-snapchat") Snapchat
				li
					a(href="", class="ico ico-twitter") Twitter
				li
					a(href="", class="ico ico-pinterest") Pinterest
				li
					a(href="", class="ico ico-spotify") Spotify
	.row
		#sitemap
			h2
				span Mapa do site
			ul
				li
					a(href="") Home
				li
					a(href="") Sobre
				li
					a(href="") Contato
				li
					a(href="") Imprensa
				li
					a(href="") Treino
				li
					a(href="") Nutrição
				li
					a(href="") Beleza
				li
					a(href="") Lifestyle
	.row
		#logo_footer
			h2
				img(src="images/general/logo.png", alt="")
