.container
	.row
		#header
			.logo
				img(src="images/header/logo.png", alt="")
			.menu
				.row
					.social
						ul
							li
								a(href="") F
							li
								a(href="") I
				.row
					nav
						ul
							li
								a(href="") Como funciona
							li
								a(href="") Indicações
							li
								a(href="") Novidades
							li
								a(href="") Sobre
							li
								a(href="") Entre em contato