.container
	.row
		#highlights
			h2
				span Postagens em Destaque
			ul
				li
					img(src="images/menu/sample.jpg", alt="")
					h3 Título
				li
					img(src="images/menu/sample.jpg", alt="")
					h3 Título	
				li
					img(src="images/menu/sample.jpg", alt="")
					h3 Título						
				li
					img(src="images/menu/sample.jpg", alt="")
					h3 Título
				li
					img(src="images/menu/sample.jpg", alt="")
					h3 Título
				li
					img(src="images/menu/sample.jpg", alt="")
					h3 Título
		#sidebar_ads
			ul
				li
					div(style="display:table; background:#57b1a8; width: 100%; color: #FFF; text-transform: uppercase;")
						div(style="display: table-cell; vertical-align: middle; text-align: center; height: 170px; color #FFF") Anúncio 1
				li
					div(style="display:table; background:#57b1a8; width: 100%; color: #FFF; text-transform: uppercase;")
						div(style="display: table-cell; vertical-align: middle; text-align: center; height: 170px; color #FFF") Anúncio 2
