.container
	.row
		#menu
			ul
				li
					h2 Treino
					img(src="images/menu/sample.jpg", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun
					a(href="", class="readmore") Leia Mais
				li
					h2 Nutrição
					img(src="images/menu/sample.jpg", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun
					a(href="", class="readmore") Leia Mais					
				li
					h2 Beleza
					img(src="images/menu/sample.jpg", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun
					a(href="", class="readmore") Leia Mais					
				li
					h2 Lifestyle
					img(src="images/menu/sample.jpg", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun
					a(href="", class="readmore") Leia Mais
					